In [6]:
import pandas as pd
import requests
import json

## First Dataset for gasoline
Shows the make and model of the vehicle, mpg for city and highway, class, and retail price

In [10]:
gas_df = pd.read_csv("Data/cars.csv")[["Unnamed: 0", "Retail", "CityMPG", "HighwayMPG", "Class"]]

# Renaming column
gas_df = gas_df.rename(columns={"Unnamed: 0": "Model"})
gas_df.head()

                     Model  Retail  CityMPG  HighwayMPG   Class
0             Acura 3.5 RL   43755       18          24   Sedan
1  Acura 3.5 RL Navigation   46100       18          24   Sedan
2                Acura MDX   36945       17          23     SUV
3              Acura NSX S   89765       17          24  Sports
4                Acura RSX   23820       24          31   Sedan

## Seocond Dataset for gasoline
Shows fuel type, make, model, and year

In [11]:
gas_df2 = pd.read_csv("Data/vehicles-2.csv")[["fuelType1", "make", "model", "year"]]

# Dropping all cars that are made before 2010
gas_df2 = gas_df2.loc[gas_df2.year > 2012]

# Dropping all columns that are electric
gas_df2 = gas_df2.loc[gas_df2.fuelType1 != "Electricity"]

gas_df2.head(90)

              fuelType1        make           model  year
24395  Premium Gasoline      Nissan            GT-R  2013
24396  Premium Gasoline  Volkswagen              CC  2013
24397  Premium Gasoline  Volkswagen              CC  2013
24398  Premium Gasoline  Volkswagen      CC 4motion  2013
24399  Regular Gasoline   Chevrolet  Malibu eAssist  2013
...                 ...         ...             ...   ...
24551  Premium Gasoline         BMW    X6 xDrive50i  2013
24552  Regular Gasoline       Lexus      RX 350 AWD  2013
24554  Premium Gasoline       Lexus     RX 450h AWD  2013
24555  Premium Gasoline         BMW    X5 xDrive35i  2013
24556  Premium Gasoline         BMW            X5 M  2013

[90 rows x 4 columns]

In [8]:
gas = requests.get("https://vpic.nhtsa.dot.gov/api/vehicles/getmanufacturerdetails/honda?format=json")
gas = gas.json() # Dictionary